@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Rufina:wght@700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.text-orange {
    color: #f80;
}

.text-grey {
    color: #707070;
}
 
.bg-grey {
    background-color: #222;

}
.text-grey2 {
    color: #a8a8a8;
}

h2 {
    font-size: 30px;
}

p,
li,
td,
th {
    line-height: 28px;
    font-size: 14px;
}

.pre-heading {
    font-size: 12px;
    font-weight: 400;
    display: table;
    color: #707070;
    margin-bottom: 7px
}

.sidebar {
    padding: 0;
    width: 280px;
    margin-right: 20px;
    position: relative;
}

.sidebar-content {
    position: fixed;
    padding: 40px 30px;
    width: 285px;
    height: 100vh;
}

.social-media {
    padding: 20px 0 30px 0;
}

.social-media a {
    color: #a8a8a8;
}

.cart-summary {
    padding: 10px 0;
    font-weight: 500;
    border-top: 1px solid #202020;
}

.cart-summary i {
    font-size: 25px;
    margin-left: 6px;
}

.social-media a i {
    font-size: 25px;
}

.footer-disclaimer {
    color: #707070;
    padding-top: 20px;
}

.navbar-nav li.nav-item {
    border-bottom: 1px solid #202020;
}

.navbar-nav li.nav-item:last-child {
    border-bottom: 0;
}

.navbar-nav li.nav-item a.nav-link {
    color: #a8a8a8;
    font-size: 13.5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 5px 0;
}

.navbar-nav li.nav-item:hover a.nav-link {
    color: #f80;
}

.home {
    padding: 5em;
    background: url(bg.png) right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .content-area {
    width: 425px;
    padding: 0;
    overflow: hidden;
}

.animated-title span {
    display: block;
    font-family: 'Rufina', serif;
    line-height: 37px;
    padding: 3px 0;
    position: relative;
}

.animated-title span.text-white::before {
    animation-name: slideIn, slideOut;
    animation-duration: 500ms, 1000ms;
    animation-delay: 0ms, 2000ms, 0ms;
    /* add this */
    animation-timing-function: ease-in, ease-in;
    animation-iteration-count: 1, 1;
    content: '';
    background: #f80;
    width: 100%;
    display: block;
    height: 36px;
    position: absolute;
}

.animated-title h1 {
    font-size: 35px;
}

.course-item {
    background: #202020;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 40px 20px 20px 20px
}

.course-item h5 {
    margin: 0 0 3px 0;
}

.course-item i {
    color: #f80;
    font-size: 18px;
    margin-left: 20px;
}

.content-area {
    width: calc(100% - 300px);
    padding-left: 20px;
}

.content-title {
    text-align: center;
    margin: 0;
    padding: 40px 0;
}

.content-content li>ul {
    padding: 20px 0;
    list-style: disc;
}

.content-content li>ul>li>ul {
    padding: 0 0 0 20px;
    list-style: disc;
}

.content-area h1 {
    line-height: 38px;
}

.text-icon img {
    width: 30px;
    margin-right: 10px;
    padding: 10px 0;
}

.text-icon li {
    display: flex;
    align-items: center;
    line-height: 18px;
}

.scrolling .area p {
    line-height: 22px;
}

.scrolling .area {
	min-height: 100vh;
}
.scrolling .area#team {
	min-height: calc(100vh - 300px);
}
.team-photo::before {
	content: '';
    display: block;
    width: 50%;
    background: #fff;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.team-photo img {
	padding: 20px 15px 0 15px;
}
.team-desc p {
	padding-right: 30px;
}
.carousel {
	position: relative;
}
.prevNext {
    display: flex;
    position: absolute;
    margin: 0 auto 10px auto;
    width: 100%;
    bottom: 0;
}
a.carousel-control-prev, a.carousel-control-next {
    position: relative;
    width: auto;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 5px;
    margin: 0 10px;
}
.btn {
    padding: 5px 20px;
    border-radius: 30px;
    font-weight: 400;
    min-width: 150px;
}
.btn-primary {
    background:  #f80;
    border: 2px solid #f80;
    color: #fff;
}
.btn-ghost {
    background:  transparent;
    border: 2px solid #f80;
    color: #f80;
}
.btn-grey {
    background:  #333;
    border: 2px solid #333;
    color: #fff;
}
.courses .course-list {
    background: #000;
    padding: 25px;
}
.courses .course-list h6 {
    padding: 0;
    margin: 0 0 20px 0;
}
.courses .course-list h6::after {
    background: #f80;
    height: 2px;
    width: 35px;
    display: block;
    content: '';
    margin: 15px 0 0 0;
}
.carousel .card iframe {
    margin: 0;
    padding: 0;
}
.carousel .card,.carousel .card-body {
    border: 0 !important;
    background: #222;
    border-bottom: 0 !important;
}
.carousel .card-body {
    
    color: #fff;
}
#tymba-events .prevNext,#tymba-testi .prevNext {
    position: relative;
    margin: 30px 0 0 0 !important;
}
#p-master {
    background: #000 url(course1.jpg) right center no-repeat;
    background-size: auto 100%;
}
#p-sprint {
    background: #000 url(course2.jpg) right center no-repeat;
    background-size: auto 100%;
}
#f-sprint {
    background: #000 url(course3.jpg) right center no-repeat;
    background-size: auto 100%;
}
@keyframes waitSlide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes hiddenbar {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideIn {
    0% {
        width: 100%;
        transform: translateX(-50%);
    }

    100% {
        width: 100%;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        width: 100%;
        transform: translateX(0%);
    }

    100% {
        width: 100%;
        transform: translateX(100%);
    }
}

.slide-in {
    animation-name: waitSlide, slideInFromLeft;
    animation-duration: 2000ms, 1000ms;
    animation-delay: 0ms, 2000ms;
    /* add this */
    animation-timing-function: ease-in, ease-in;
    animation-iteration-count: 1, 1;
}